light {
  --light: #D7CEC7;
}

body {
  background-color: #A5C1C0;
  font-style: normal;
  font-family: "Verdana";
  margin: 0 5%;
}

/*
  light: #D7CEC7
  dark: #565656
*/

/*.form {
  display: inline-block;
  padding: 0;
}*/

/*.button {
  display: inline;
}*/

.map {
  height: 300px;
}

.topnav {
    background-color: #1A2930;
    overflow: hidden;
    font-family: "Verdana";
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 5px;
    /*position: fixed;*/

}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 5px;
}

.topnav a:hover {
    background-color: #F7CE3E;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
}


.post {
  background-color: #f2f2f2;
  /*border-bottom: 2px solid grey;*/
  margin-bottom: 5px;
  padding-bottom: 5px;

}

.stuff {
  /*position: relative;*/
  /*left: 10%;*/
  /*float: right;*/

}

.score {
  height: 100%;
  /*position: relative;*/
  top: 10%;
  /*margin: 10px;*/
  /*width: 10%;*/
  /*float: left;*/
  /*margin-top: 30px;*/
}

.content {
  margin: 0px;
  padding: 0px;
  height: 80%;
  width: 85%;
  /*margin-top: -10px;*/

}

.like_container {
  width: 10%;
  margin: 0;
  display: inline;
}

.data {
  border-top: 2px solid #1A2930;
  font-size: 12px;

}

.homeblurb {
  margin: auto;
}

.titles {
  margin: auto;
  text-align: center;
}

.homephoto {
  display: block;
  margin: auto;
  width: 40%;
}

.form {
  display: inline;
}

.hidden {
  display: inline;
}

.author {

}

.time {
  float: right;
}
