light {
  --light: #D7CEC7;
}

body {
  background-color: #A5C1C0;
  font-style: normal;
  font-family: "Verdana";
  margin: 0 5%;
}

/*
  light: #D7CEC7
  dark: #565656
*/

.form {
  display: inline;
  padding: 0;
}

.score {
  display: inline;
  padding: 0;
  /*background-color: red;*/
  height: 100%;
}

.button {
  display: inline;
}

.topnav {
    background-color: #1A2930;
    overflow: hidden;
    font-family: "Verdana";
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 5px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 5px;
}

.topnav a:hover {
    background-color: #F7CE3E;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
}

.post {
  background-color: #f2f2f2;
  border-bottom: 2px solid grey;
  margin-bottom: 5px;
  padding-bottom: 5px;

}
.score {
  height: 100%;
}

.content {
  border: 1px solid black;
  margin: 4px;

}

.data {
  font-size: 12px;

}

.author {

}

.time {
  float: right;
}
