{% extends "common.html" %}
{% block title %}About{% endblock %}

{% block content %}

<h1 class="titles">Behold, wherein lies the stronghold from which Compundium emerged </h1>


<div class="container">
  <br>
  <div class = "blurb col-xs-6">
    <p class="about">The creators: </p>
    <div class = "blurb">

      <p class="blurbtext">
        <a class="name" href="https://www.facebook.com/CapnSquirrel">Alejandro</a> <br>
        Major: Computer Science <br>
        Class: 2019 <br>
        Likes: Anime, Animation
      </p>
    </div>
    <div class = "blurb">
      <p class="blurbtext">
        <a class="name" href="https://www.facebook.com/ryan.c.taus">Ryan</a> <br>
        Major: Computer Science <br>
        Class: 2018 <br>
        Likes: physics
      </p>
    </div>
    <div class = "blurb">
      <p class = "blurbtext">
        <a class="name" href="https://www.facebook.com/eshoj324">Emily</a> <br>
        Major: Computer Science <br>
        Class: 2019 <br>
        Likes: kpop
      </p>
    </div>
  </div>
  <div class="col-xs-6">
    <img id="aboutimg" src="/resources/images/tas.jpg" width="100%">
  </div>
</div>
{% endblock %}
