{% extends "common.html" %}
{% block title %}About{% endblock %}

{% block content %}

<h1 className="title">Behold, wherein lies the stronghold from which Compundium emerged </h1>


<div className="container">
  <div id="like_button_container"></div>

  <br>
  <div className = "blurb col-xs-6">
    <p className="about">The creators: </p>
    <div className = "blurb">
      <p className = "blurbtext">
        <a className="name">Emily</a> <br>
        Major: Computer Science <br>
        Class: 2019 <br>
        Likes: kpop
      </p>
    </div>
  </div>
  <div className="col-xs-6">
  </div>
</div>
{% endblock %}
