{% extends "common.html" %}
{% block title %}Browse{% endblock %}

{% block content %}

<div id="root"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

<script src="../resources/scripts/Browse.js" type="text/babel"></script>
<script type="text/babel">
    ReactDOM.render(
    <Browse>
      <div>
        {%for post in posts%}
          {% include "pun.html" %}
        {% endfor %}
      </div>
    </Browse>,
    document.getElementById('root')
    );
</script>

{% endblock %}
