<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/resources/styles/styles.css">
    <title>Home Page</title>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/browse">Browse</a>
      <a href="/post">Post</a>
      <a href="/profile">Profile</a>
      <a href="/about">About</a>
    </div>

    <h1 class="titles"> {{greeting}} </h1>

    <div id="homeblurb">
      <h1 class="titles"> Welcome to Compundeum! </h1>
      <h2 class="titles"> A site for lovers of the pun. Share and like other puns to your heart's puntent </h2>
    </div>
    <img id = "homephoto" src="/resources/images/no_pun_intended.png">
  </body>
</html>
