<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/resources/styles/styles.css">
    <title>Home Page</title>
  </head>
  <body>
    {% include "navbar.html" %}

    <h1 class="titles"> {{greeting}} </h1>

    <div id="homeblurb">
      <h1 class="titles"> Welcome to Compundium! </h1>
      <h2 class="titles"> A site for lovers of the pun. Share and like other puns to your heart's puntent </h2>
    </div>
    <img id = "homephoto" src="/resources/images/no_pun_intended.png">
  </body>
</html>
