<div class="topnav" id="myTopnav">
  <a href="/">Home</a>
  <a href="/browse">Browse</a>
  <a href="/post">Post</a>
  <a href="/profile">Profile</a>
  <a href="/about">About</a>

  <span>
    <form action="/browse" method="post">
      <input type="hidden" name="kind" value="search"></input>
      <!-- <h2 class="titles">search for puns: </h2> -->
      <input id="search" type="text" name="q" placeholder='Search...' value=""></input>
      <!-- <br> -->
      <!-- <input id="button" type="submit" value="Search"></input> -->
    </form>
  </span>
</div>
