<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <link rel="stylesheet" href="/resources/styles/styles.css">
    <title>Make A Post</title>
  </head>
  <body>
    <!-- Maybe go to own page then redirect idk -->
    <div class="topnav" id="myTopnav">
      <a href="/home">Home</a>
      <a href="/browse">Browse</a>
      <a href="/post">Post</a>
      <a href="/profile">Profile</a>
      <a href="/about">About</a>
    </div>

    <form action="/post" method="post">
      Comment: <input type="text" name="content" placeholder="Comment..." maxlength="140"></input>
      <br>
      Words Punned (split by commas): <input type="text" name="keywords"></input>
      <br>

      <input type="submit" value="Submit"></input>

    </form>
  </body>
</html>
