{% extends "common.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

<h1 class="titles"> Profiles </h1>
<h2> {{user.email}} </h2>
<h2 class="prompt_text">Score: {{score}} </h2>

<form action="/profile" method="post">
  <input type="hidden" name="target" value="view posts"></input>
  <input class="button" type="submit"value="view your posts"></input>
</form>

<form action="/profile" method="post">
  <input type="hidden" name="target" value="view liked posts"></input>
  <input class="button" type="submit"value="view liked posts"></input>
</form>
<br>


{%for post in posts%}
  {% include "pun.html" %}
{% endfor %}

{% endblock %}
